<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Placeholder header</h1>
    <p>Temporal Access Token (TAT) for Ethereum Network</p>
    <a type="button" class="btn btn-lg btn-default" href="https://github.com/anthhlm/dfx_token"><span class="glyphicon glyphicon-flash"></span> Demo</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/anthhlm/dfx_token"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    This is all a massive work in project. Expect nothing to actually work
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <p>This is all a massive work in project. Expect nothing to actually work This is all a massive work in project. Expect nothing to actually workThis is all a massive work in project. Expect nothing to actually workThis is all a massive work in project. Expect nothing to actually workThis is all a massive work in project. Expect nothing to actually workThis is all a massive work in project. Expect nothing to actually workThis is all a massive work in project. Expect nothing to actually workThis is all a massive work in project. Expect nothing to actually workThis is all a massive work in project. Expect nothing to actually workThis is all a massive work in project. Expect nothing to actually workThis is all a massive work in project. Expect nothing to actually workThis is all a massive work in project. Expect nothing to actually workThis is all a massive work in project. Expect nothing to actually workThis is all a massive work in project. Expect nothing to actually workThis is all a massive work in project. Expect nothing to actually work</p>
      <h3><span class="glyphicon glyphicon-link"></span> Placeholder</h3>
      <ul>
        <li>Address: <%= address %></li>
        <li>ETH Balance: <%= balance %> wei</li>

        <li>Address: 0x<%= token_address%></li>
        <li>Token Balance: <%= token_balance %></li>
      </ul>
    </div>
    <!-- <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Placeholder</h3>

    </div> -->
  </div> <!-- row -->
</div>

</body>
</html>
